REACT_APP_FIREBASE_API_KEY=your-api-key
REACT_APP_FIREBASE_AUTH_DOMAIN=football-92492.firebaseapp.com
REACT_APP_FIREBASE_DATABASE_URL=https://football-92492-default-rtdb.firebaseio.com
REACT_APP_FIREBASE_PROJECT_ID=football-92492
REACT_APP_FIREBASE_STORAGE_BUCKET=football-92492.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=your-sender-id
REACT_APP_FIREBASE_APP_ID=your-app-id
REACT_APP_FIREBASE_MEASUREMENT_ID=your-measurement-id
